/* Variables de colores */
:root {
    --primary-color: #0071e3;
    --secondary-color: #f0f8ff;
    --background-color: #ffffff;
    --background-color-footer: #f4f4f4;
    --text-primary-color: #333;
    --text-secondary-color: #666;
    --border-color: #d2d2d7;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    box-sizing: border-box;
}

.content-layout {
    display: grid;
    grid-template-columns: 266px 1fr; /* Sidebar y gallery content */
    height: calc(100vh - 50px); /* Altura menos el header */
    margin-top: 50px; /* Espacio para el header */
}

/* Logo y navegación */
.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-primary-color);
    text-decoration: none;
}

.nav {
    margin-left: 10%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 0.95em;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

.nav a:hover {
    background-color: var(--secondary-color);
    border-radius: 8px;
}

/*Dropdown styles */
.dropdown-container {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Espaciado entre el botón y el campo de búsqueda */
}

.dropdown-button {
    background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s ease;
}

.dropdown-button:hover {
    background-color: var(--secondary-color);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 12px;
    text-decoration: none;
    color: var(--text-primary-color);
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: var(--secondary-color);
}

.dropdown-container:hover .dropdown-menu {
    display: block;
}


/* Search bar styles */
.search-bar {
    flex: 1; /* La barra de búsqueda ocupa el espacio restante */
    position: relative;
    display: flex;
    align-items: center;
    width: 900px;
    margin-right: 10px;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px 40px 8px 15px; /* Deja espacio para la lupa */
    font-size: 0.95em;
    border: 1px solid var(--border-color);
    border-left: none; /* Quita el borde izquierdo para conectarlo con el botón */
    border-radius: 0 8px 8px 0; /* Redondea solo la esquina derecha */
    outline: none;
    transition: border-color 0.3s ease;
    height: 40px;
}

.search-bar input[type="text"]:focus {
    border-color: var(--primary-color);
}

.search-bar button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.search-bar button img {
    width: 20px;
    height: 20px;
}

.cta-container{
    display: flex; /* Aseguramos que los elementos estén alineados correctamente */
    align-items: center;
    margin-left: auto; /* Empuja el contenedor al extremo derecho */
}

.cta {
    margin: 0;
    padding: 8px 15px;
    font-size: 0.95em;
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap; /* Evita que el texto se desborde */
}

.cta:hover {
    background-color: var(--primary-color);
    color: var(--background-color);
}


/* Estilo boton filtro */
.search-options {
    position: relative;
    margin-right: 10px; /* Espaciado entre el botón y el campo de búsqueda */
}

#options {
    background-color: var(--border-color);
    border: 1px solid var(--border-color);
    border-right: none; /* Quita el borde derecho para conectarlo con el input */
    border-radius: 8px 0 0 8px; /* Redondea solo la esquina izquierda */
    padding: 8px 12px;
    font-size: 0.95em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    height: 40px; /* Asegúrate de que coincida con el input */
}

#options:hover {
    background-color: var(--border-color);
    border-color: var(--border-color);
}


#format-options {
    display: none !important; /* Oculto por defecto */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #d2d2d7;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

#format-options li {
    padding: 10px;
    cursor: pointer;
}

#format-options li:hover {
    background-color: #f0f8ff;
}



/* Estilo contenedor para botón y barra de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    gap: 0; /* Sin separación entre los elementos */
}

/* Botón de filtro */
.search-options {
    margin-left: 20%; /* Espaciado entre el botón y el campo de búsqueda */
    margin-right: 0; /* Elimina la separación */
}


/* Ícono de búsqueda dentro del campo */
.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none; /* Evita que interfiera con la interacción del input */
}

.search-icon img {
    width: 20px;
    height: 20px;
    pointer-events: none;
}