/* Variables de colores */
:root {
    --primary-color: #0071e3;
    --secondary-color: #f0f8ff;
    --background-color: #ffffff;
    --background-color-footer: #f4f4f4;
    --text-primary-color: #333;
    --text-secondary-color: #666;
    --border-color: #d2d2d7;
}

/* General */
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}


/* Encabezados */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.content-layout {
    display: grid;
    grid-template-columns: 266px 1fr; /* Contenido de la barra lateral y de la galería */
    height: calc(100vh - 50px); /* Altura menos el header */
    margin-top: 50px; /* Espacio para el header */
}

/* Dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-color);
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--primary-color);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 0.9em;
}

.dropdown-content a:hover {
    background-color: #f5f5f7;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Main content styles */
.main-content {

    padding: 0.5% 2% 2% 3%;
    text-align: center;
    background-color: #f4f4f4;
    grid-column: 2;
}

.main-content h1 {
    font-size: 2.5em;
    color: var(--text-color);
}

.main-content p {
    font-size: 1.2em;
    color: #555;
}

/* Grid destacada */
.featured-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: stretch;
    padding: 20px;
}

.grid-item {
    display: flex; /* Usamos flexbox para alinear logotipo y texto en línea */
    flex-direction: column; /* Logotipo y texto en columna */
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    background-color: var(--background-color);
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
/*    transition: transform 1s ease, box-shadow 0.1s ease;*/
    transition: all .3s cubic-bezier(0,0,.5,1);
    text-align: left;
    min-height: 100px;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.grid-item a {
    display: flex; /* Flexbox en el enlace para mantener los elementos alineados */
    align-items: center; /* Centra verticalmente logotipo y texto */
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.grid-item img {
    max-width: 70px; /* Ajusta el tamaño del logotipo */
    margin-bottom: 10px; /* Espacio entre el logotipo y el texto */
    margin-right: 20px; /* Espacio entre el logotipo y el texto */
    transition: transform 0.5s ease;
}

.grid-item:hover img {
    transform: scale(1.1);
}

.grid-item .text {
    display: flex;
    flex-direction: column; /* Coloca el título y la descripción en columna */
}

.grid-item .text h3 {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: var(--text-primary-color);
}

.grid-item .text p {
    font-size: 0.85em;
    color: var(--text-secondary-color);
    line-height: .5;
}



/* Footer fijo */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color-footer);
    padding: 5px;
    text-align: center;
    font-size: 0.9em;
    color: var(--text-secondary-color);
    border-top: 1px solid var(--border-color);
    z-index: 100; /* Asegura que quede sobre otros elementos */
}


/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 50px; /* Justo debajo del header */
    left: 0;
    width: 266px;
    height: calc(100vh - 50px); /* Sidebar ocupa todo el alto menos el header */
    background-color: var(--background-color-footer); /* Fondo de la barra lateral */
    border-right: 1px solid var(--border-color, #ccc); /* Fallback color */
    padding: 1em;
    overflow-y: auto;
    z-index: 100; /* Asegurarse de que esté sobre otros elementos */
}

/* Títulos en la sidebar */
.sidebar h3 {
    font-size: 1.2em;
    margin-bottom: 1em;
    color: var(--text-secondary-color); /* Fallback color */
}

.sidebar p {
    font-size: 0.9em;
    margin-bottom: 1em;
    color: var(--text-secondary-color); /* Fallback color */
}

/* Contenedor de los botones de forma */
.shape-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    justify-content: flex-start; /* Alineación horizontal a la izquierda (puedes cambiar a center o space-between) */
    align-items: center; /* Alineación vertical */
    margin-top: 10px; /* Espacio superior */
}

/* Botones de forma */
.shape-buttons .btn-shape {
    margin: 1px;
    padding: 8px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
}

.shape-buttons .btn-shape svg {
    width: 16px;
    height: 16px;
    stroke: var(--text-primary-color);
    fill: none;
    transition: stroke 0.3s, transform 0.3s;
}

.shape-buttons .btn-shape:hover {
    transform: scale(1.1);
    background-color: var(--secondary-color);
}

.shape-buttons .btn-shape.active {
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    transform: scale(1.1);
}


/* Botón de descarga */
.download-options {
    margin-top: 16px;
    position: relative; /* Necesario para posicionar el menú relativo al botón */
    display: inline-block;
}

#download {
    padding: 10px 20px;
    background-color: #0071e3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

#download:hover {
    background-color: #005bb5;
}

#format-options {
    position: absolute;
    top: 100%; /* Coloca el menú justo debajo del botón */
    left: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 0;
    width: 150px;
}

#format-options li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
}

#format-options li a:hover {
    background-color: #f0f0f0;
}


/* Clase para mostrar el menú */
#download-options-list.visible {
    display: block;
}


/* Asegurar el scroll de la barra lateral */
.sidebar {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #ccc transparent; /* Firefox */
}

.sidebar::-webkit-scrollbar {
    width: 8px; /* Para Chrome, Safari y Edge */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.sidebar .btn-gray:hover {
    background-color: #f9f9f9 !important; /* Fondo ligeramente gris */
    border-color: #555 !important; /* Borde más oscuro */
}

/* Contenedor de los botones de color */
.color-selection {
    display: flex; /* Alineación horizontal de los botones */
    gap: 5px; /* Espacio entre los botones */
    justify-content: flex-start; /* Alineación horizontal a la izquierda */
    align-items: center; /* Alineación vertical */
    margin-top: 10px; /* Espacio superior */
}

/* Botones individuales */
.color-btn {
    margin: 0; /* Elimina márgenes adicionales */
    padding: 8px;
    width: 30px;
    height: 15px; /* Asegura un tamaño consistente */
    border: 1px solid var(--border-color);
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
}

.icon-gallery {
    margin: 0 20px ;
    padding: 20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 48%; /* Ocupa todo el espacio disponible */
    border-radius: 12px;
}

.icon-gallery h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
}

/* Contenedor desplazable para los iconos */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Diseño adaptable */
    gap: 10px;
    max-height: 400px; /* Altura máxima de la galería */
    overflow-y: auto; /* Habilitar desplazamiento vertical */
    padding-right: 10px; /* Espacio para el scroll */
    box-sizing: border-box; /* Evita que el scroll desplace el contenido */
}

/* Estilo para los iconos individuales */
.icon-item {
    background: var(--background-color, #f0f0f0); /* Color de fondo por defecto */
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.icon-item:hover {
    transform: scale(1.05);
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

.icon-item img {
    width: 100px;
    height: 100px;
    object-fit: contain; /* Escala la imagen manteniendo proporciones */
    margin-bottom: 5px;
}

.icon-item h4{
    font-size: .8em;
    font-weight: lighter;
    color: var(--text-color);
}

.icon {
    width: 48px;
    height: 48px;
    margin-bottom: 5px;
    fill: #00524c;
    object-fit: contain;
    border-radius: 10%;
}


/* Media queries */
@media screen and (max-width: 768px) {
    .content-layout {
        grid-template-columns: 1fr;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .icon-gallery {
        margin: 10px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 10px;
    }

    .content-layout {
        margin-top: 40px;
    }

    .sidebar {
        padding: 10px;
    }

    .icon-gallery {
        margin: 5px;
        padding: 5px;
    }
}